<nav class="navbar">
  <ul class="nav-links" [ngClass]="{'open': menuOpen}">
    <li><a href="{{url}}/">HOME</a></li>
    <li (click)="subMenuOpen['GAME'] = !subMenuOpen['GAME']">
      <a>GAME</a>
      <ul class="submenu" [ngClass]="{'open': subMenuOpen['GAME']}">
        <li><a href="{{url}}/about">ABOUT</a></li>
        <li><a href="{{url}}/classes">CLASSES</a></li>
      </ul>
    </li>
    <li (click)="subMenuOpen['COMMUNITY'] = !subMenuOpen['COMMUNITY']">
      <a>COMMUNITY</a>
      <ul class="submenu" [ngClass]="{'open': subMenuOpen['COMMUNITY']}">
        <li><a href="{{url}}/videos">VIDEOS</a></li>
        <li><a href="{{url}}/ranking">RANKING</a></li>
        <li><a href="{{url}}/player-art">PLAYER ART</a></li>
      </ul>
    </li>
    <li><a href="{{url}}/news">NEWS</a></li>
    <li><a href="{{url}}/support">SUPPORT</a></li>
    <li>
      <app-social class="sub-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"></app-social>
    </li>
  </ul>
  <div class="brand">
    <img src="../../../assets/img/banner_top.png" alt="">
  </div>
  <app-social class="header" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="20px"></app-social>
  <div class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </div>
</nav>
