::ng-deep {
  mat-form-field {
    margin-top: 8px;
  }

  .mat-mdc-form-field-error-wrapper {
    padding-left: 0!important;
  }
  
  .page-component {
    // /* Set the background size to cover the entire element */
    // background-size: cover;
    // /* Ensure the background image is centered */
    // background-position: center;
    // /* Prevent the background image from repeating */
    // background-repeat: no-repeat;
    // /* Set the background image URL */
    // background-image: url(../../../assets/img/ragnarok.jpg);

    // /* Additional properties to make the element fill the screen */
    // width: 100%;
    // height: 100vh; /* Viewport height */
    // position: relative; /* or absolute/fixed depending on your layout */
    // overflow: hidden; /* If needed to prevent content from spilling out */

    background-image: url(../../../assets/img/bg.jpg);
    backdrop-filter: blur(3px); /* apply the blur */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      pointer-events: none;
      filter: brightness(0.8);
    }
    .content {
      position: relative;
      overflow: hidden;
      z-index: 99;
      box-sizing: border-box;
      max-width: 1280px;
      scroll-behavior: smooth;
      width: 100%!important;
      flex-grow: 1;
      .lead-banner {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        img {
          // width: 50%!important;
        }
        &:not(.show) {
          display: none!important;
        }
        * {
          text-align: center;
          color: hsla(46.82,100%,50%,1);
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
      }
      &.with-padding {
        padding: 16px!important;
      }
    }
  }

  .inner-content {
    gap: 70px!important;
    .side-banner {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      align-items: center;
      img {
        // width: 50%!important;
      }
      &:not(.show) {
        display: none!important;
      }
      * {
        text-align: center;
        color: hsla(46.82,100%,50%,1);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
    }
    mat-card {
      min-width: 100%!important;
      min-height: 100%!important;
      border-radius: 0!important;
      mat-card-content {
        padding: 40px!important;
      }
      &.with-radius {
        border-radius: 10px!important;
      }
      form {
        fieldset {
        }
      }
      .step-footer {
        button {
          min-height: 45px!important;
        }
      }
      &.success {
        mat-card-content {
          padding: 0!important;
          .success-header {
            padding: 20px!important;
            background-color: #4caf50;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            .icon {
              font-size: 40px;
              margin-bottom: 20px;
            }
            .message {
              font-size: 18px;
              margin-bottom: 20px;
              text-align: center;
            }
          }
          .success-footer {
            padding: 20px!important;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mdc-button {
              background-color: #4caf50;
            }
            .image-button {
              height: auto;
              background-size: cover;
              border: none;
              color: #fff;
              font-size: 20px;
              cursor: pointer;
              text-align: center;
              padding: 0!important;
              margin: 0!important;
              img {
                width: 100%!important;
              }
            }
            
            .image-button:hover {
                opacity: 0.8; /* Optional: Add a hover effect */
            }
          }
        }
      }
    }
  }

}
